<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:8080/static/css/style.css">
    <title>{{title}}</title>
</head>
<body>
<header>
    <div class="alert alert-light" role="alert">
    <h1>Миссия Колонизация Марса</h1>
    </div>
    <h2 style="color: silver;">И на Марсе будут яблони цвести!</h2>
</header>
 {% if title not in ['Добавление работы', 'Jobs'] %}
    <a class="btn btn-primary " href='/register'>Sign up</a>
    <a class="btn btn-success" href='/login'>Log in</a>
 {% endif %}
<main role="main" class="container">
    {% block add_job %}{% endblock %}
    {% block login %}{% endblock %}
    {% block registration %}{% endblock %}
    {% block content %}{% endblock %}
</main>
</body>
</html>